<%= form_with(model: biblio, local: true) do |form| %>
  <% if biblio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(biblio.errors.count, "error") %> prohibited this biblio from being saved:</h2>

      <ul>
      <% biblio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  
  <div class="container">
    <div class="row">
      <div class="col-3">
        <%= form.label :author, class: "form-control" %>
      </div>
      <div class="col">
        <%= form.text_field :author, id: :biblio_author, class:"form-control" %>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-3">
        <%= form.label :year, class: "form-control" %>
      </div>
      <div class="col">
        <%= form.text_field :year, id: :biblio_year, class:"form-control" %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-3">
        <%= form.label :title, class: "form-control" %>
      </div>
      <div class="col">
        <%= form.text_field :title, id: :biblio_title, class:"form-control" %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-3">
        <%= form.label :publication, class: "form-control" %>
      </div>
      <div class="col">
        <%= form.text_field :publication, id: :biblio_publication, class:"form-control" %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-3">
        <%= form.label :publisher, class: "form-control" %>
      </div>
      <div class="col">
        <%= form.text_field :publisher, id: :biblio_publisher, class:"form-control" %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-3">
        <%= form.label :biblio_name, class: "form-control" %>
      </div>
      <div class="col">
        <%= form.text_field :biblio_name, id: :biblio_biblio_name, class:"form-control" %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-3">
        <%= form.label :language_published, class: "form-control" %>
      </div>
      <div class="col">
        <%= form.text_field :language_published, id: :biblio_language_published, class:"form-control" %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-3">
        <%= form.label :language_researched, class: "form-control" %>
      </div>
      <div class="col">
        <%= form.text_field :language_researched, id: :biblio_language_researched, class:"form-control" %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-3">
        <%= form.label :country_of_research, class: "form-control" %>
      </div>
      <div class="col">
        <%= form.text_field :country_of_research, id: :biblio_country_of_research, class:"form-control" %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-3">
        <%= form.label :keywords, class: "form-control" %>
      </div>
      <div class="col">
        <%= form.text_field :keywords, id: :biblio_keywords, class:"form-control" %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-3">
        <%= form.label :isbn, class: "form-control" %>
      </div>
      <div class="col">
        <%= form.text_field :isbn, id: :biblio_isbn, class:"form-control" %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-3">
        <%= form.label :issn, class: "form-control" %>
      </div>
      <div class="col">
        <%= form.text_field :issn, id: :biblio_issn, class:"form-control" %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-3">
        <%= form.label :url, class: "form-control" %>
      </div>
      <div class="col">
        <%= form.text_field :url, id: :biblio_url, class:"form-control" %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-3">
        <%= form.label :date_of_entry, class: "form-control" %>
      </div>
      <div class="col">
        <%= form.text_field :date_of_entry, id: :biblio_date_of_entry, class:"form-control" %>
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col-9">
        <small class="form-text text-muted">DD/MM/YYYY</small>
      </div>
      
    </div>
    
  </div>

  <div class="container">
    <div class="actions">
      <%= form.submit "Update", class: "btn btn-outline-success btn-sm" %>
    </div>
  </div>
  
<% end %>
