<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-4 bg-light"><Strong>Author</Strong></div>
    <div class="col"><%= @biblio.author %></div>
  </div>
  
  <div class="row">
    <div class="col-4 bg-light"><Strong>Year</Strong></div>
    <div class="col"><%= @biblio.year %></div>
  </div>
  
  <div class="row">
    <div class="col-4 bg-light"><Strong>Title</Strong></div>
    <div class="col"><%= @biblio.title %></div>
  </div>
  
  <div class="row">
    <div class="col-4 bg-light"><Strong>Publication</Strong></div>
    <div class="col"><%= @biblio.publication %></div>
  </div>
  
  <div class="row">
    <div class="col-4 bg-light"><Strong>Publisher</Strong></div>
    <div class="col"><%= @biblio.publisher %></div>
  </div>
  
  <div class="row">
    <div class="col-4 bg-light"><Strong>Biblio name</Strong></div>
    <div class="col"><%= @biblio.biblio_name %></div>
  </div>
  
  <div class="row">
    <div class="col-4 bg-light"><Strong>Language published</Strong></div>
    <div class="col"><%= @biblio.language_published %></div>
  </div>
  
  <div class="row">
    <div class="col-4 bg-light"><Strong>Language researched</Strong></div>
    <div class="col"><%= @biblio.language_researched %></div>
  </div>
  
  <div class="row">
    <div class="col-4 bg-light"><Strong>Country of research</Strong></div>
    <div class="col"><%= @biblio.country_of_research %></div>
  </div>
  
  <div class="row">
    <div class="col-4 bg-light"><Strong>Keywords</Strong></div>
    <div class="col"><%= @biblio.keywords %></div>
  </div>
  
  <div class="row">
    <div class="col-4 bg-light"><Strong>ISBN</Strong></div>
    <div class="col"><%= @biblio.isbn %></div>
  </div>
  
  <div class="row">
    <div class="col-4 bg-light"><Strong>ISSN</Strong></div>
    <div class="col"><%= @biblio.issn %></div>
  </div>
  
  <div class="row">
    <div class="col-4 bg-light"><Strong>URL</Strong></div>
    <div class="col"><%= link_to @biblio.url, @biblio.url %></div>
  </div>
  
  <div class="row">
    <div class="col-4 bg-light"><Strong>Date of entry</Strong></div>
    <div class="col"><%= @biblio.date_of_entry %></div>
  </div>
</div>

<!--
<p>
  <strong>Author:</strong>
  <%= @biblio.author %>
</p>

<p>
  <strong>Year:</strong>
  <%= @biblio.year %>
</p>

<p>
  <strong>Title:</strong>
  <%= @biblio.title %>
</p>

<p>
  <strong>Publication:</strong>
  <%= @biblio.publication %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @biblio.publisher %>
</p>

<p>
  <strong>Biblio name:</strong>
  <%= @biblio.biblio_name %>
</p>

<p>
  <strong>Language published:</strong>
  <%= @biblio.language_published %>
</p>

<p>
  <strong>Language researched:</strong>
  <%= @biblio.language_researched %>
</p>

<p>
  <strong>Country of research:</strong>
  <%= @biblio.country_of_research %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @biblio.keywords %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @biblio.isbn %>
</p>

<p>
  <strong>Issn:</strong>
  <%= @biblio.issn %>
</p>

<p>
  <strong>Url:</strong>
  <%= link_to @biblio.url, @biblio.url %>
</p>

<p>
  <strong>Date of entry:</strong>
  <%= @biblio.date_of_entry %>
</p>
-->

<div class="float-right">
  <%= link_to 'Edit', edit_biblio_path(@biblio), class: "btn btn-secondary btn-sm" %>
  <%= link_to 'Back', biblios_path, class: "btn btn-secondary btn-sm" %>
</div>

