<p id="notice"><%= notice %></p>

<h1 class="text-center">Biblios</h1>

<%= render 'layouts/search' %>

<div class="float-left">
  <%= @count %> 
  <b><%= @entry %></b> Results Found
</div>


<table class="table table-striped table-bordered table-hover">
  <thead class="thead-inverse">
    <tr>
      <th>Author</th>
      <th>Year</th>
      <th>Title</th>
      <th>Language</th>
      <th colspan="2">Functions</th>
    </tr>
  </thead>

  <tbody>
    <% @bibs.each do |bib| %>
      <tr>
        <td><%= bib.author %></td>
        <td><%= bib.year %></td>
        <td><%= bib.title %></td>
        <td><%= bib.language_published %></td>
        <td><%= link_to 'Show', bib, class: "btn btn-outline-success btn-sm" %></td>
        <!--<td><%= link_to 'Edit', edit_bib_path(bib), class: "btn btn-outline-info btn-sm" %></td>-->
        <td><%= link_to 'Delete', bib, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<div>
    <%= paginate @bibs, theme: "twitter-bootstrap-4" %>
</div>


