<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-3 bg-light"><Strong>Author</Strong></div>
    <div class="col"><%= @bib.author %></div>
  </div>
  
  <div class="row">
    <div class="col-3 bg-light"><Strong>Year</Strong></div>
    <div class="col"><%= @bib.year %></div>
  </div>
  
  <div class="row">
    <div class="col-3 bg-light"><Strong>Title</Strong></div>
    <div class="col"><%= @bib.title %></div>
  </div>
  
  <div class="row">
    <div class="col-3 bg-light"><Strong>Publication</Strong></div>
    <div class="col"><%= @bib.publication %></div>
  </div>
  
  <div class="row">
    <div class="col-3 bg-light"><Strong>Publisher</Strong></div>
    <div class="col"><%= @bib.publisher %></div>
  </div>
  
  <div class="row">
    <div class="col-3 bg-light"><Strong>Biblio name</Strong></div>
    <div class="col"><%= @bib.biblio_name %></div>
  </div>
  
  <div class="row">
    <div class="col-3 bg-light"><Strong>Language published</Strong></div>
    <div class="col"><%= @bib.language_published %></div>
  </div>
  
  <div class="row">
    <div class="col-3 bg-light"><Strong>Language researched</Strong></div>
    <div class="col"><%= @bib.language_researched %></div>
  </div>
  
  <div class="row">
    <div class="col-3 bg-light"><Strong>Country of research</Strong></div>
    <div class="col"><%= @bib.country_of_research %></div>
  </div>
  
  <div class="row">
    <div class="col-3 bg-light"><Strong>Keywords</Strong></div>
    <div class="col"><%= @bib.keywords %></div>
  </div>
  
  <div class="row">
    <div class="col-3 bg-light"><Strong>ISBN</Strong></div>
    <div class="col"><%= @bib.isbn %></div>
  </div>
  
  <div class="row">
    <div class="col-3 bg-light"><Strong>ISSN</Strong></div>
    <div class="col"><%= @bib.issn %></div>
  </div>
  
  <div class="row">
    <div class="col-3 bg-light"><Strong>URL</Strong></div>
    <div class="col"><%= link_to @bib.url, @bib.url %></div>
  </div>
  
  <div class="row">
    <div class="col-3 bg-light"><Strong>Date of entry</Strong></div>
    <div class="col"><%= @bib.date_of_entry %></div>
  </div>
  
  <div class="row">
    <div class="col-3 bg-light"><Strong>Source</Strong></div>
    <div class="col"><%= @bib.source %></div>
  </div>
</div>

<br>

<div class="float-right">
  <%= link_to 'Edit', edit_bib_path(@bib), class: "btn btn-outline-info btn-sm" %>
  <%= link_to 'Back', :back, class: "btn btn-outline-primary btn-sm" %>
</div>
