<%= form_tag(bibs_path, method: "get") do %>
  <div class="input-group">
    <%= text_field_tag :search, params[:search], class: "form-control search", placeholder: "Search for..." %>
    <%= select_tag "search_form", options_for_select(["Any", "Author", "Title"], params[:search_form]),
    class: "text-secondary" %>
    <!--<%= submit_tag "Search!", class: "btn btn-outline-primary" %>-->
  </div>

  <br>  

  <!-- ROW 1 -->
  <div class="row">
    <div class="col-lg-2">
      <div class="input-group">
        <span class="input-group-addon text-secondary">Year</span>
        <%= text_field_tag :year, params[:year], class: "form-control" %>
      </div>
    </div>
      
    <div class="col-lg-5">
      <div class="input-group">
        <span class="input-group-addon text-secondary">Publication</span>
        <%= text_field_tag :publication, params[:publication], class: "form-control" %>
      </div>
    </div>
    
    <div class="col-lg-5">
      <div class="input-group">
        <span class="input-group-addon text-secondary">Publisher</span>
        <%= text_field_tag :publisher, params[:publisher], class: "form-control" %>
      </div>
    </div>
  </div>

  <br>

  <!-- ROW 2 -->
  <div class="row">
    <div class="col-lg-4">
      <div class="input-group">
        <span class="input-group-addon text-secondary">Language Published</span>
        <%= text_field_tag :LP, params[:LP], class: "form-control" %>
      </div>
    </div>
      
    <div class="col-lg-4">
      <div class="input-group">
        <span class="input-group-addon text-secondary">Language Researched</span>
        <%= text_field_tag :LR, params[:LR], class: "form-control" %>
      </div>
    </div>
    
    <div class="col-lg-4">
      <div class="input-group">
        <span class="input-group-addon text-secondary">Country of Research</span>
        <%= text_field_tag :CR, params[:CR], class: "form-control" %>
      </div>
    </div>
  </div>
     
  <br>

    <!-- ROW 3 -->
  <div class="row">
    <div class="col-lg-4">
      <div class="input-group">
        <span class="input-group-addon text-secondary">Biblio Name</span>
        <%= text_field_tag :name, params[:name], class: "form-control" %>
      </div>
    </div>
      
    <div class="col-lg-3">
      <div class="input-group">
        <span class="input-group-addon text-secondary">Date of Entry</span>
        <%= text_field_tag :date, params[:date], class: "form-control", placeholder: "DD/MM/YYYY" %>
      </div>
    </div>
    
    <div class="col-lg-5">
      <div class="input-group">
        <span class="input-group-addon text-secondary">Keywords</span>
        <%= text_field_tag :tag, params[:tag], class: "form-control" %>
      </div>
    </div>        
  </div>

  <br>

  <p class="text-center">
    <%= submit_tag "Search!", class: "btn btn-outline-primary", style: "width: 450px" %>
  </p>
  
<% end %>